<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Welcome</h1>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <% if user_signed_in? %>
              <% if @company %>
                <span>
                  You're in <%= @company.name %>
                </span>
              <% else %>
                <span>
                  You need to <a href="/companies/new">register your company</a> in order to use all features.
                </span>
              <% end %>
            <% else %>
              <span>Log in to start using the app.</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
