<% content_for :head do %>
  <%= stylesheet_pack_tag 'appointments/status' %>
<% end %>
<div id="app">
  <status-appointments></status-appointments>
</div>
<%= javascript_pack_tag 'appointments/status' %>
